// Import foundation styles to the Gutenburg editor
@import "../../../node_modules/foundation-sites/scss/foundation";
@import "settings";
@import "mixins";
@import "global";

html :where(.editor-styles-wrapper) {
	font-family: $body-font-family !important;
	h1,h2,h3,h4,h5,h6 {
		font-family: $header-font-family !important;
	}
	* {
		box-sizing: border-box;
	}
}
.wp-core-ui {
	.acf-block-preview {
		@include foundation-button;
		@include foundation-xy-grid-classes;
		@include foundation-accordion;
		// @include foundation-typography;
	}
}
.button {
	text-align: center;
}

.wp-block{
    max-width: 1220px;
    margin: 0 auto;
}
.wp-block[data-align=wide] { /* it can be "data-align=full" and also "right", "left" and "center" */
    max-width: 1420px;
    margin: 0 auto;
}
.wp-block.is-selected {
    background-color: #e0e0e0;
}
.wp-block:not(.wp-block-acf-content-container) {
	.acf-block-preview {
		pointer-events:none;
		.swiper {
			display: none;
		}
	}
}
