@import "../../../assets/styles/scss/settings";
@import "../../../assets/styles/scss/mixins";

.acf-block-preview .content-container { 
	padding: 1rem;
	border: 1px solid $medium-gray;
}

.content-container {
	margin-bottom: $block-margin-bottom;
}