@import "../../../assets/styles/scss/settings";
@import "../../../assets/styles/scss/mixins";

.related-posts {
	&-content {
		.tag {
		   	display: inline-block;
		}
		p {

		}
	}
	
	h2 {
		margin-bottom: 30px;
	}
	&-controls {
		margin-top: 50px;
		.button {

		}
	}
}

	

@include breakpoint(large up) {
	.related-posts {
		&-content {
			p {

			}
		}
			
		} 
		h2 {
			margin-bottom: 50px;
		}
		&-controls {
			.button {

			}
		}
	}
		
}