@import "../../../assets/styles/scss/settings";
@import "../../../assets/styles/scss/mixins";
//.related-posts

.post-block {
	overflow: hidden;
	border-radius: $global-radius;
	&-image {
		height: 328px;
		position: relative;
		img {
			@include object-fit;
		}
		.tag {
			position: absolute;
			bottom: 0;
			left: 0;
		   	display: inline-block;
		   	color: $white;
		    font-size: 1.25rem;
		    background: $primary-color;
		    font-weight: bold;
		    height: 58px;
		    border-top-right-radius: $global-radius;
		    padding: 1rem 1.25rem;
		}
	}
	&-content {
		background: $lorange;
		padding: 50px;
		text-align: center;
		h2 {
			margin-bottom: 30px;
			font-size: rem-calc(38);
			line-height: 1;
		}
		&-controls {
			margin-top: 50px;
			.button {
				font-size: 1.825rem;
			}
		}
	}
}

	

@include breakpoint(large up) {
	.post-block {
		&-content {
			p {
				
			}
			h2 {
				
			}
			&-controls {
				.button {
					
				}
			}
		}
			
			
	}
		
}